:root {
  --font-family: "Open Sans", sans-serif;
  --light: #2fcdfd;
  --primary: #095391;
  --text: #333;
  --background: #fafafa;
  --star: #ffd900;
  --border: rgb(207, 207, 207);
  --darkstar: rgb(104, 104, 104);
  --skillBtn: rgb(0, 123, 194);
  --link: rgb(0, 119, 255);
  --linkHover: rgb(92, 176, 255);
}
